<p id="notice"><%= notice %></p>

<p>
  <b>Nick:</b>
  <%= @staff.nick %>
</p>

<p>
  <b>Name:</b>
  <%= @staff.name %>
</p>

<p>
  <b>Job:</b>
  <%= @staff.job %>
</p>

<p>
  <b>Location:</b>
  <%= @staff.location %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
