<h1>Listing sidebars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Ancestry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sidebars.each do |sidebar| %>
  <tr>
    <td><%= sidebar.name %></td>
    <td><%= sidebar.link %></td>
    <td><%= sidebar.ancestry %></td>
    <td><%= link_to 'Show', sidebar %></td>
    <td><%= link_to 'Edit', edit_sidebar_path(sidebar) %></td>
    <td><%= link_to 'Destroy', sidebar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sidebar', new_sidebar_path %>
