<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sidebar.name %>
</p>

<p>
  <b>Link:</b>
  <%= @sidebar.link %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @sidebar.ancestry %>
</p>


<%= link_to 'Edit', edit_sidebar_path(@sidebar) %> |
<%= link_to 'Back', sidebars_path %>
