%article.post{class: ('single' if @full)}
  %header.header
    %h1<
      = link_to smarten(blogpost.title), blogpost, class: ('icon-newspaper' if @full)
    = pretty_time blogpost.timestamp
  %section.content
    = format(@full ? blogpost.body : blogpost.summary )

  %footer.footer
    - if @full
      = link_to "&laquo; #{@blogpost.older.title}".html_safe, @blogpost.older, class: 'older' if @blogpost.older.present?
      = link_to "#{@blogpost.newer.title} &raquo;".html_safe, @blogpost.newer, class: 'newer' if @blogpost.newer.present?
    - else
      = link_to "Read more&hellip;".html_safe, blogpost, class: 'read-more'
    %div{style: 'clear: both'}
