<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blogpost.title %>
</p>

<p>
  <b>Body:</b>
  <%= @blogpost.body %>
</p>

<p>
  <b>Excerpt:</b>
  <%= @blogpost.excerpt %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @blogpost.timestamp %>
</p>


<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
