%section.popular-channels
  .video
    %video(autoplay="" poster="http://ns1.com/video/video-placeholder2.jpg" loop="")
      %source(src="http://ns1.com/video/hero-video.webm" type="video/webm")
      %source(src="http://ns1.com/video/hero-video.mp4" type="video/mp4")
  .content
    .container
      %ul.list-unstyled.text-center
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
        %li= link_to "#channel", "#/webchat/channel"
  .overlay
    .container
      %button.close Close
