%article.post{class: ('single' if @full)}
  %header.header
    %h1<
      = link_to smarten(update.title), update, class: [('icon-newspaper' if @full),('unpublished' unless update.published?)]
    = pretty_time update.timestamp
  %section.content
    - if (!update.published? and @full)
      %em You're viewing an unpublished post. Content is subject to change
    = format(@full ? update.body : update.summary )

  %footer.footer
    - if @full
      = link_to "&laquo; #{@update.older.title}".html_safe, @update.older, class: 'older' if @update.older.present?
      = link_to "#{@update.newer.title} &raquo;".html_safe, @update.newer, class: 'newer' if @update.newer.present?
    - else
      = link_to t('updates.readmore'), update, class: 'read-more'
    %div{style: 'clear: both'}
