%ul
  %li.category
    %a.category-header{href: '#'} General
    %ul
      %li{class: current_page?(:root) ? 'current' : nil}= link_to('Blog', :root, class: 'icon-newspaper')
      %li= link_to('Webchat', CONFIG[:links][:webchat], class: 'icon-chat')
  %li.category
    %a.category-header{href: '#'} Information
    %ul
      %li{class: current_page?(:staffs) ? 'current' : nil}= link_to('Staff', :staffs, class: 'icon-star')
      %li{class: current_page?(:sponsors) ? 'current' : nil}= link_to('Sponsors', :sponsors, class: 'icon-coins')
  %li.category
    %a.category-header{href: '#'} Status
    %ul
      %li{class: current_page?(page_path('status')) ? 'current' : nil}= link_to("Status", page_path('status'), class: 'icon-weather')
  %li.category
    %a.category-header{href: '#'} Rules and Guidelines
    %ul
      %li{class: current_page?(page_path('user-rules')) ? 'current' : nil}= link_to('User Rules', page_path('user-rules'), class: 'icon-hollow-shield')
      %li{class: current_page?(page_path('channel-rules')) ? 'current' : nil}= link_to('Channel Rules', page_path('channel-rules'), class: 'icon-shield')
      %li{class: current_page?(page_path('conduct')) ? 'current' : nil}= link_to('Conduct', page_path('conduct'), class: 'icon-checklist')
      %li{class: current_page?(page_path('help')) ? 'current' : nil}= link_to('Help and Guidelines', page_path('help'), class: 'icon-question')
  %li.category
    %a.category-header{href: '#'} Service Info
    %ul
      %li{class: current_page?(page_path('tos')) ? 'current' : nil}= link_to('Terms of Service', page_path('tos'), class: 'icon-script')
